@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;500&display=swap');

body {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 100;
}

h1 {
    font-weight: 500;
}

.container {
    width: 400px;
    height: 600px;
    padding: 0;
    margin: 10px;
    background: rgb(170, 170, 170);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    filter: drop-shadow(0 0 0.75rem black);
    border-radius: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: flex-end;
    justify-content: center;
    font-size: 100px;
    color: black;
    box-sizing: border-box;
    padding: 0px 10px 0px 0px;
}

.buttons {
    background: transparent;
    display: flex;
    flex-direction: column;
    flex: 3;
    margin: 0;
}

.row {
    display: flex;
    flex: 1;
    width: 100%
}

button {
    margin: 0;
    flex: 0 0 25%;
    font-size: large;
    font-family: 'Raleway', Helvetica, sans-serif;
    font-weight: 500;
    border-color: rgb(170, 170, 170);
    border-width: 1px;
}

.operator,
.clear {
    background-color: rgb(165, 210, 212);
}

#btn0,
#clear {
    flex: auto;
}

#btn0 {
    border-bottom-left-radius: 10px;
}

#equal {
    border-bottom-right-radius: 10px;
}

#divide,
#equal {
    width: auto;
}

.secondary {
    background-color: rgb(127, 255, 229);
}